@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
.body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.padding {
  @apply px-2 py-2 md:px-8 md:py-4;
}

.icon {
  font-size: 16px !important;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* article styles  */
.article-style p {
  font-family: "Source Serif 4", serif;
  color: #242424;
  line-height: 2rem;
  word-wrap: break-word;
  word-break: normal;
  margin: 1rem 0;
  text-align: justify;
  overflow-wrap: break-word;
}
.article-style a {
  color: crimson;
  text-decoration: underline;
}

.article-style h2 {
  margin-top: 1.72em;
  line-height: 2.2rem;
  font-size: 20px;
  font-family: "Roboto", inherit;
  font-weight: 700;
}

.no-tailwind {
  all: unset;
}
